@page
@model FamilyHub.IdentityServerHost.Pages.Organisations.OrganisationViewEditModel
@{
}

<a asp-page="./OrganisationsStartPage" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <form method="post">

            <input asp-for="@Model.OrgansationTypeId" name="OrgansationTypeId" type="hidden" />
            <input asp-for="@Model.AuthorityCode" name="AuthorityCode" type="hidden" />

            <fieldset class="govuk-fieldset">
                <h1 class="govuk-heading-m">
                    Organisation
                </h1>

                <input asp-for="@Model.Organisation.Id" type="hidden">


                <div class="govuk-form-group">
                    <label class="govuk-label" for="Organisation.Name">
                        Name
                    </label>
                    <input class="govuk-input" id="Organisation.Name" name="Organisation.Name" value="@Model.Organisation.Name" type="text" autocomplete="Organisation.Name">
                    <span asp-validation-for="Organisation.Name" class="text-danger"></span>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="Organisation.Description">
                        Description
                    </label>
                    <input class="govuk-input" id="Organisation.Description" name="Organisation.Description" value="@Model.Organisation.Description" type="text" autocomplete="Organisation.Description">
                </div>

                <div class="govuk-form-group" style="display: none;">
                    <label class="govuk-label" for="Organisation.Logo">
                        Logo
                    </label>
                    <input class="govuk-input" id="Organisation.Logo" name="Organisation.Logo" value="@Model.Organisation.Logo" type="text" autocomplete="Organisation.Logo">
                    <span asp-validation-for="Organisation.Logo" class="text-danger"></span>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="Organisation.Logo">
                        Url
                    </label>
                    <input class="govuk-input" id="Organisation.Url" name="Organisation.Url" value="@Model.Organisation.Url" type="text" autocomplete="Organisation.Url">
                    <span asp-validation-for="Organisation.Url" class="text-danger"></span>
                </div>

                <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                    Save
                </button>
            </fieldset>
        </form>
    </div>


</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
