@page
@model FamilyHub.IdentityServerHost.Pages.Organisations.ViewOrganisationListModel
@{
}

<a asp-page="./OrganisationsStartPage" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <h1 class="govuk-heading-xl">Manage your organisations</h1>
    <p>View, change an organisation.</p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <form method="post">

        <div class="govuk-form-group">
            <input class="govuk-input govuk-input govuk-!-width-one-half" id="search" asp-for="Search" type="text">
            <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                Search
            </button>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table">
                    @*<caption class="govuk-table__caption govuk-table__caption--m">Your organisations</caption>*@
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Organisation</th>
                            <th scope="col" class="govuk-table__header">Local Authority</th>
                            <th scope="col" class="govuk-table__header"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var organisation in Model.PaginatedOpenReferralOrganisations.Items)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@organisation.Name</td>
                                <td class="govuk-table__cell">@organisation.LocalAuthorityName</td>
                                <td class="govuk-table__cell" style="text-align: right">
                                    <a asp-page="/Organisations/OrganisationsWhichType" asp-route-id="@organisation.Id" class="govuk-!-margin-right-1">View</a>
                                    @*<a href="remove-service" class="govuk-!-margin-right-0">Delete</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <nav class="govuk-pagination" role="navigation" aria-label="results">
                    @if (Model.PageNumber > 1)
                    {
                        <div class="govuk-pagination__prev">
                            <a class="govuk-link govuk-pagination__link" asp-page="./ViewOrganisationList" asp-route-pageNumber="@(Model.PageNumber - 1)" rel="prev">
                                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                                </svg>
                                <span class="govuk-pagination__link-title">Previous</span>
                            </a>
                        </div>
                    }
                    <ul class="govuk-pagination__list">
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            string pageLable = $"Page {i}";
                            if (Model.PageNumber == i)
                            {
                                <li class="govuk-pagination__item govuk-pagination__item--current">
                                    <a class="govuk-link govuk-pagination__link" asp-page="./ViewOrganisationList" asp-route-pageNumber="@i" aria-label="@pageLable" aria-current="page">
                                        @i
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="govuk-pagination__item">
                                    <a class="govuk-link govuk-pagination__link" asp-page="./ViewOrganisationList" asp-route-pageNumber="@i" aria-label="@pageLable">
                                        @i
                                    </a>
                                </li>
                            }

                        }

                    </ul>
                    @if (Model.PageNumber < Model.TotalPages)
                    {
                        <div class="govuk-pagination__next">
                            <a class="govuk-link govuk-pagination__link" asp-page="./ViewOrganisationList" asp-route-pageNumber="@(Model.PageNumber + 1)" rel="next">
                                <span class="govuk-pagination__link-title">Next</span>
                                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                                </svg>
                            </a>
                        </div>
                    }
                </nav>

            </div>
        </div>
    </form>

</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

